body{
  background-color: #6b3f2a;
  min-height: 100vh;
  margin: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: Arial, sans-serif;
}
.card{
  width: 380px;
  padding: 30px;
  border-radius: 18px;
  background: #f7f1ea;

  border: 3px solid #d6b892; 

  text-align: center;
  animation: cardFade 1s ease;

}
.card img{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-top: 15px;

  border: 4px solid #d6b892/;
  transition: transform 0.4s ease, box-shadow 0.4s ease;
}


.card img:hover{
  transform: scale(1.1);
  box-shadow: 0 10px 25px rgba(51, 32, 107, 0.3);
}
@keyframes cardFade{
  from{
    opacity: 0;
    transform: translateY(30px);
  }
  to{
    opacity: 1;
    transform: translateY(0);
  }
}
.name{
  font-size: 32px;
  color: #6b3f2a;     
  margin-bottom: 8px;

  animation: nameSlide 2s ease;
}


@keyframes nameSlide{
  from{
    opacity: 0;
    transform: translateY(-20px);
  }
  to{
    opacity: 1;
    transform: translateY(0);
  }
}
.title{
    color: #c3a174;
    font-size: 30px;
}

